Repository TeamBehance/Behance-AOS, pull requests merged in 2022-05, with the labels that each got.

#4 #3 [chore] 템플릿 기초세팅
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/pull_request_template.md
Labels: 창환🐷, pull request🔥, chore

#5 #2 [chore] 컬러 및 글씨체 초기세팅,테마 설정
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/sopt/behance_aos/ui/home/HomeActivity.kt
  app/src/main/res/font/gmarket_sans_bold.ttf
  app/src/main/res/font/noto_sans.xml
  app/src/main/res/font/noto_sans_bold.ttf
  app/src/main/res/font/noto_sans_medium.ttf
  app/src/main/res/font/noto_sans_regular.ttf
  app/src/main/res/layout/activity_home.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/themes.xml
Labels: 창환🐷, pull request🔥, chore

#10 [layout] fragment_behance_read 생성
  app/build.gradle
  app/src/main/java/com/sopt/behance_aos/ui/read/BehanceReadActivity.kt
  app/src/main/java/com/sopt/behance_aos/ui/read/BehanceReadBodyAdapter.kt
  app/src/main/java/com/sopt/behance_aos/ui/read/BehanceReadBodyData.kt
  app/src/main/java/com/sopt/behance_aos/ui/read/BehanceReadFragment.kt
  app/src/main/java/com/sopt/behance_aos/ui/read/BehanceReadHeadAdapter.kt
  app/src/main/java/com/sopt/behance_aos/ui/read/BehanceReadHeadData.kt
  app/src/main/java/com/sopt/behance_aos/ui/read/BehanceReadViewPagerAdapter.kt
  app/src/main/res/color/selector_behance_read_bottom_navi.xml
  app/src/main/res/drawable/border_behance_read_head_circle.xml
  app/src/main/res/drawable/circle_behance_read_black.xml
  app/src/main/res/drawable/ellipse_1.png
  app/src/main/res/drawable/ellipse_2.png
  app/src/main/res/drawable/ellipse_3.png
  app/src/main/res/drawable/ellipse_4.png
  app/src/main/res/drawable/ic_android_home.xml
  app/src/main/res/drawable/ic_camera.xml
  app/src/main/res/drawable/rectangle_1.png
  app/src/main/res/drawable/rectangle_2.png
  app/src/main/res/drawable/rectangle_3.png
  app/src/main/res/drawable/rectangle_4.png
  app/src/main/res/drawable/shape_behance_read_body_rect_white_radius_15.xml
  app/src/main/res/drawable/test.png
  app/src/main/res/layout/activity_behance_read.xml
  app/src/main/res/layout/fragment_behance_read.xml
  app/src/main/res/layout/list_behance_read_body.xml
  app/src/main/res/layout/list_behance_read_head.xml
  app/src/main/res/menu/behance_read_menu.xml
  app/src/main/res/values/strings.xml
Labels: 영주🐼, layout

#22 이창환이 이슈도 안파고 응급처치한거
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/sopt/behance_aos/ui/base/BaseActivity.kt
  app/src/main/java/com/sopt/behance_aos/ui/base/BaseFragment.kt
  app/src/main/java/com/sopt/behance_aos/ui/read/BehanceReadActivity.kt
  app/src/main/java/com/sopt/behance_aos/ui/read/BehanceReadBodyAdapter.kt
  app/src/main/java/com/sopt/behance_aos/ui/read/BehanceReadBodyData.kt
  app/src/main/java/com/sopt/behance_aos/ui/read/BehanceReadFragment.kt
  app/src/main/java/com/sopt/behance_aos/ui/read/BehanceReadHeadAdapter.kt
  app/src/main/java/com/sopt/behance_aos/ui/read/BehanceReadHeadData.kt
  app/src/main/java/com/sopt/behance_aos/ui/read/ReadHeaderAdapter.kt
  app/src/main/java/com/sopt/behance_aos/ui/read/ReadMainAdapter.kt
  app/src/main/java/com/sopt/behance_aos/ui/read/model/ReadBodyData.kt
  app/src/main/java/com/sopt/behance_aos/ui/read/model/ReadHeadData.kt
  app/src/main/java/com/sopt/behance_aos/util/BindingAdapters.kt
  app/src/main/res/layout/activity_behance_read.xml
  app/src/main/res/layout/fragment_behance_read.xml
  app/src/main/res/layout/list_behance_read_body.xml
  app/src/main/res/layout/list_behance_read_head.xml
  app/src/main/res/layout/read_body_item.xml
  app/src/main/res/layout/read_header_detail_item.xml
  app/src/main/res/layout/read_header_item.xml
  app/src/main/res/values/themes.xml
Labels: 창환🐷, pull request🔥, feat
